<<<<<<< HEAD
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
=======
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
>>>>>>> 424d8730938137fa83f9035bdc343da4b3051dea
}