@import 'reset';


.dark-theme {
    // primary

    --title: white;
    --blue: hsl(220, 98%, 61%);
    --check: linear-gradient(#57ddff ,#c058f3);
    --hover: hsl(236, 33%, 92%);
    --box-shadow: hsl(235, 21%, 11%);
    --check-border: hsl(233, 14%, 35%);
    --border-bottom: hsl(233, 14%, 35%);
    --input-color: hsl(234, 39%, 85%);
    --font-color: hsl(234, 11%, 52%);
    --back-bg: hsl(235, 24%, 19%);
    --todo-list-bg: hsl(235, 24%, 25%);

    --bg-image-dark: url('./images/bg-desktop-dark.jpg');
    --bg-image-dark-mobile: url('./images/bg-mobile-dark.jpg');
}



.light-theme {
    // primary

    --title: white;
    --blue: hsl(220, 98%, 61%);
    --check: linear-gradient(#57ddff ,#c058f3);
    --check-border: hsl(234, 11%, 52%);
    --input-color: hsl(234, 11%, 52%);
    --hover: hsl(235, 24%, 19%);
    --font-color: hsl(234, 11%, 52%);
    --border-bottom: hsl(236, 33%, 92%);
    --back-bg: hsl(236, 33%, 92%);
    --todo-list-bg: white;
    --box-shadow: hsl(234, 39%, 85%);

    --bg-image-dark: url('./images/bg-desktop-light.jpg');
    --bg-image-dark-mobile: url('./images/bg-mobile-light.jpg');
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.todo-container {
    @extend .flex-center;
    min-width: 350px;
    .background {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        .head-bg {
            background-image: var(--bg-image-dark-mobile);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 30vh;
        }
        .bottom-bg {
            background-color: var(--back-bg);
            min-height: 70vh;
            // height: auto;
        }
    }
    
    

    min-height: 100vh;
}
.todo {
    width: 90%;
    min-height: 80vh;
    
    z-index: 100;
    .todo-title {
        color: var(--title);
        display: flex;
        justify-content: space-between;
        h1 {
            margin: 0;
        }
        .todo-title-img {
            position: relative;
            .front-layer-switcher {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
        
        .todo-title-img img {
            width: 100%;
        }
        .switch-theme-moon {
            display: none;
        }
    }
    .todo-new {
        border-radius: .3rem;
        
        input {
            border-radius: .3rem;
        }
    }
    .todo-list {
        height: 40vh;
        overflow: overlay;
        background: var(--todo-list-bg);
        border-radius: .3rem .3rem 0 0;
    }
}

// Change scrollbar styles 
::-webkit-scrollbar {
    width: 5px;
    background: var(--todo-list-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--check-border);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;

}
.list {
    display: flex;
    justify-content: space-between;
    background: var(--todo-list-bg);
    padding: 1rem;
    .check {
        @extend .flex-center;
        background-color: var(--check);
        width: 20px;
        height: 19px;
        border: 1px solid var(--check-border);
        border-radius: 50%;
        margin: 1.5px .5rem;
        position: relative;
        
    }
    .front-layer {
        @extend .check;
        cursor: pointer;
        position: absolute;
    }
    .checked {
        background-image: var(--check);
    }
    .check-icon {
        display: none;
        width: 50%;
    }
    .check-icon-block {
        display: block;
    }
    .cross {
        @extend .flex-center;
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        img {
            // display: none;
            width: 85%;
        }
    }
    
    li {
        list-style-type: none;
        width: 100%;
        display: flex;
        align-items: center;
        color: var(--input-color);
    }
    .li-line {
        text-decoration: line-through;
        color: var(--font-color);
    }
}
.list {
    border-bottom: 1px solid var(--border-bottom);
}


.todo-input {
    @extend .list;
    margin: 1rem 0;
    width: 100%;
    border: none;
    outline: none;
    color: var(--input-color);
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    
    
}
::placeholder {
    color: var(--font-color);
    font-family: 'Josefin Sans', sans-serif;
}
.shadow {
    box-shadow: 0px 20px 70px 1px var(--box-shadow);
    -webkit-box-shadow: 0px 20px 70px 1px var(--box-shadow);
    -moz-box-shadow: 0px 20px 70px 1px var(--box-shadow);
}
.todo-summary {
    @extend .shadow;
    justify-content: space-between;
    color: var(--font-color);
    font-size: .8rem;
    border: none;
    border-radius: 0 0 .3rem .3rem;
    

    .clear {
        cursor: pointer;
    }
    .clear:hover {
        color: var(--hover);
        
    }
}
.active {
    color:var(--blue);
}
.center-options {
    display: none;
    @extend .flex-center;
    div {
        margin-left: 1rem;
        cursor: pointer;
    }
    div:hover {
        color: var(--hover);
        font-weight: bold;
    }
    
}

.center-options-mobile {
    @extend .center-options;
    @extend .shadow;
    display: flex;
    background-color: var(--todo-list-bg);
    padding: 1rem 0;
    margin-top: 1rem;
    border-radius: .3rem;
    color: var(--font-color);
}


// Desktop
@media (min-width:700px) {
    .background {
        width: 100%;
    }
    .head-bg {
        background-image: var(--bg-image-dark);
    }
    .todo {
        width: 60%;
    }
    .center-options {
        display: flex;
    }
    .center-options-mobile {
        display: none;
    }
}