* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.dark-theme {
  --title: white;
  --blue: hsl(220, 98%, 61%);
  --check: linear-gradient(#57ddff ,#c058f3);
  --hover: hsl(236, 33%, 92%);
  --check-border: hsl(237, 14%, 26%);
  --border-bottom: hsl(237, 14%, 26%);
  --input-color: hsl(236, 33%, 92%);
  --font-color: hsl(233, 14%, 35%);
  --back-bg: hsl(235, 21%, 11%);
  --todo-list-bg: hsl(235, 24%, 19%);
  --bg-image-dark: url("./images/bg-desktop-dark.jpg");
}

.light-theme {
  --title: white;
  --blue: hsl(220, 98%, 61%);
  --check: linear-gradient(#57ddff ,#c058f3);
  --input-color: hsl(233, 14%, 35%);
  --hover: hsl(235, 24%, 19%);
  --font-color: hsl(233, 14%, 35%);
  --border-bottom: hsl(236, 33%, 92%);
  --back-bg: hsl(236, 33%, 92%);
  --todo-list-bg: white;
  --bg-image-dark: url("./images/bg-desktop-light.jpg");
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.flex-center, .center-options, .center-options-mobile, .list .cross, .todo-input .cross, .list .check, .todo-input .check, .list .front-layer, .todo-input .front-layer, .todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.todo-container {
  min-width: 350px;
  height: 100vh;
}
.todo-container .background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.todo-container .background .head-bg {
  background-image: var(--bg-image-dark);
  height: 35vh;
}
.todo-container .background .bottom-bg {
  background-color: var(--back-bg);
  height: 65vh;
}

.todo {
  width: 90%;
  min-height: 450px;
  z-index: 100;
}
.todo .todo-title {
  color: var(--title);
  display: flex;
  justify-content: space-between;
}
.todo .todo-title h1 {
  margin: 0;
}
.todo .todo-title .todo-title-img img {
  cursor: pointer;
}
.todo .todo-title .switch-theme-moon {
  display: none;
}

.list, .todo-input {
  display: flex;
  justify-content: space-between;
  background: var(--todo-list-bg);
  padding: 1rem;
}
.list .check, .todo-input .check, .list .front-layer, .todo-input .front-layer {
  background-color: var(--check);
  width: 20px;
  height: 19px;
  border: 1px solid var(--check-border);
  border-radius: 50%;
  margin: 1.5px 0.5rem;
  position: relative;
}
.list .front-layer, .todo-input .front-layer {
  cursor: pointer;
  position: absolute;
}
.list .checked, .todo-input .checked {
  background-image: var(--check);
}
.list .check-icon, .todo-input .check-icon {
  display: none;
  width: 50%;
}
.list .check-icon-block, .todo-input .check-icon-block {
  display: block;
}
.list .cross, .todo-input .cross {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
.list .cross img, .todo-input .cross img {
  width: 85%;
}
.list li, .todo-input li {
  list-style-type: none;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--input-color);
}
.list .li-line, .todo-input .li-line {
  text-decoration: line-through;
  color: var(--font-color);
}

.list, .todo-input {
  border-bottom: 1px solid var(--border-bottom);
}

.todo-input {
  margin: 1rem 0;
  width: 100%;
  border: none;
  outline: none;
  color: var(--input-color);
}

::placeholder {
  color: var(--font-color);
  font-family: "Josefin Sans", sans-serif;
}

.todo-summary {
  justify-content: space-between;
  color: var(--font-color);
  font-size: 0.8rem;
  border: none;
}
.todo-summary .clear {
  cursor: pointer;
}
.todo-summary .clear:hover {
  color: var(--hover);
}

.center-options, .center-options-mobile {
  display: none;
}
.center-options div, .center-options-mobile div {
  margin-left: 1rem;
  cursor: pointer;
}
.center-options div:hover, .center-options-mobile div:hover {
  color: var(--hover);
  font-weight: bold;
}

.center-options-mobile {
  display: flex;
  background-color: var(--todo-list-bg);
  padding: 1rem 0;
  margin-top: 1rem;
  border-radius: 0.3rem;
  color: var(--font-color);
}

@media (min-width: 700px) {
  .background {
    width: 100%;
  }

  .todo {
    width: 60%;
  }

  .center-options, .center-options-mobile {
    display: flex;
  }

  .center-options-mobile {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
